<div class="container jumbotron d-flex mt-4 mb-4 p-3 justify-content-center">
    <div class="col-12 justify-content-center">
        <h1 class="m-4 text-center">Welcome to SafeBets</h1>
        <form action="/home/odds" type='submit' method="POST">
            <table class="table text-right">
                <tr>
                    <th>Sportsbook:</th>
                    <td>
                        <select class="form-select" aria-label="Default select example" id="sportsbook" name="sportsbook">
                            <option {{#unless selection.sportsbook}}selected{{/unless}} value=''>ALL</option>
                            {{#each sportsbook}}
                                <option {{#when sportsbook_id 'eq' ../selection.sportsbook.sportsbook_id}}selected {{/when}} value={{sportsbook_id}}>{{sportsbook_name}}</option>
                            {{/each}}
                        </select>
                    </td>
                    <th>League:</th>
                    <td>
                        <select class="form-select" aria-label="Default select example" id="sport" name="sport" required>
                            {{#unless selection.sport}}<option selected value=''>NONE</option>{{/unless}}
                            {{#each sport}}
                                <option {{#when sport_id 'eq' ../selection.sport.sport_id}}selected{{/when}} value={{sport_id}}>
                                    {{sport_name}} {{sport_league}}
                                </option>
                            {{/each}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Deal Type:</th>
                    <td>
                        <select class="form-select" aria-label="Default select example" id="deal" name="deal">
                            <option selected value={{#if selection.deal}}{{selection.deal.deal_id}}{{/if}}>
                                {{#if selection.deal}}{{selection.deal.deal_type}}{{else}}NONE{{/if}}
                            </option>
                            {{#each deal}}
                                {{#when deal_id 'noteq' ../selection.deal.deal_id}}
                                <option value={{deal_id}}>{{deal_type}}</option>
                                {{/when}}
                            {{/each}}
                        </select>
                    </td>
                    <th>Deal Amount:</th>
                    <td>
                        <input type="number" id="bet_amount" name="bet_amount" value='{{selection.bet_amount}}' required>
                    </td>
                </tr>
            </table>
            <div class="col-12 text-center mt-4">
                <button class="btn btn-primary col-2" type="submit" id="submit-button">Get Bets</button>
            </div>
        </form>
    {{#if selection.sport}}
    <div class="bets">
        <table class="table table-hover">
                <tr>
                    <td></td>
                    {{#each sportsbook}}
                    <th class="sportbook odds">
                        <a{{#when ../selection.sportsbook.sportsbook_name 'eq' sportsbook_name}}class="btn btn-primary"{{else}}class="btn btn-outline-secondary"{{/when}}>{{sportsbook_name}}</a>
                    </th>
                    {{/each}}

                </tr>
                <tr class="divider">
                    <td class="divider" colspan="9"></td>
                </tr>
                {{#each event}}
                <tr>
                    <th class="odds">{{home_team}}</th>
                    {{#each ../sportsbook}}
                        <td class="odds">
                        {{#each ../bookmakers}}
                            {{#when title 'eq' ../sportsbook_name}}
                                <form action="/bets/add" type="submit" method="POST">
                                    <input type="hidden" class="form-control" id="event_id" name="event_id" value='{{../../id}}'>
                                    <input type="hidden" class="form-control" id="time" name="time" value='{{../../commence_time}}'>

                                    <input type="hidden" class="form-control" id="team_a" name="team_a" value='{{../../home_team}}'>
                                    <input type="hidden" class="form-control" id="odds_a" name="odds_a" value='{{markets.[0].outcomes.[0].price}}'>

                                    <input type="hidden" class="form-control" id="team_b" name="team_b" value='{{../../away_team}}'>
                                    <input type="hidden" class="form-control" id="odds_b" name="odds_b" value='{{markets.[0].outcomes.[1].price}}'>

                                    <input type="hidden" class="form-control" id="sportsbook" name="sportsbook" value='{{title}}'>

                                    <input type="hidden" class="form-control" id="deal_id" name="deal_id" value='{{../../../selection.deal.deal_id}}'>
                                    <input type="hidden" class="form-control" id="bet_amount" name="bet_amount" value='{{../../../selection.bet_amount}}'>

                                    <input type="hidden" class="form-control" id="bet_team" name="bet_team" value='a'>

                                    <button id="odds" type="submit" {{#when markets.[0].outcomes.[0].price 'gt' '0'}}class="btn btn-success"{{else}}class="btn btn-danger"{{/when}}>
                                        {{markets.[0].outcomes.[0].price}}
                                    </button>
                                </form>
                            {{/when}}
                        {{/each}}
                        </td>
                    {{/each}}
                </tr>
                <tr>
                    <th class="odds">{{away_team}}</th>
                    {{#each ../sportsbook}}
                        <td class="odds">
                        {{#each ../bookmakers}}
                            {{#when title 'eq' ../sportsbook_name}}
                                <form action="/bets/add" type="submit" method="POST">
                                    <input type="hidden" class="form-control" id="event_id" name="event_id" value='{{../../id}}'>
                                    <input type="hidden" class="form-control" id="time" name="time" value='{{../../commence_time}}'>

                                    <input type="hidden" class="form-control" id="team_a" name="team_a" value='{{../../home_team}}'>
                                    <input type="hidden" class="form-control" id="odds_a" name="odds_a" value='{{markets.[0].outcomes.[0].price}}'>

                                    <input type="hidden" class="form-control" id="team_b" name="team_b" value='{{../../away_team}}'>
                                    <input type="hidden" class="form-control" id="odds_b" name="odds_b" value='{{markets.[0].outcomes.[1].price}}'>

                                    <input type="hidden" class="form-control" id="sportsbook" name="sportsbook" value='{{title}}'>

                                    <input type="hidden" class="form-control" id="deal_id" name="deal_id" value='{{../../../selection.deal.deal_id}}'>
                                    <input type="hidden" class="form-contorl" id="bet_amount" name="bet_amount" value='{{../../../selection.bet_amount}}'>

                                    <input type="hidden" class="form-control" id="bet_team" name="bet_team" value='b'>
                                    
                                    <button id="odds" type="submit" {{#when markets.[0].outcomes.[1].price 'gt' '0'}}class="btn btn-success"{{else}}class="btn btn-danger"{{/when}}>
                                        {{markets.[0].outcomes.[1].price}}
                                    </button>
                                </form>
                            {{/when}}
                        {{/each}}
                        </td>
                    {{/each}}
                </tr>
                <tr class="divider">
                    <td class="divider" colspan="9"></td>
                </tr>
            {{/each}}
        </table>
    </div>
    {{/if}}
</div>
