{{> message}}
<div class="container" id="form">
    <h1>Welcome to SafeBets</h1>
    <div class="bets-picker" id="form">
        <form action="/home/odds" type='submit' method="POST">
            <table class="table">
                <tr>
                    <th>Sportsbook:</th>
                    <th>League:</th>
                    <th>Deal Type:</th>
                    <th>Deal Amount:</th>
                </tr>
                <tr>
                    <td>
                        <select class="form-select" aria-label="Default select example" id="sportsbook" name="sportsbook">
                            <option selected value={{#if selection.sportsbook}}{{selection.sportsbook.sportsbook_id}}{{/if}}>
                                {{#if selection.sportsbook}}{{selection.sportsbook.sportsbook_name}}{{else}}ALL{{/if}}
                            </option>
                            {{#each sportsbook}}
                                <option value={{sportsbook_id}}>{{sportsbook_name}}</option>
                            {{/each}}
                        </select>
                    </td>
                    <td>
                        <select class="form-select" aria-label="Default select example" id="sport" name="sport">
                            <option selected value={{#if selection.sport}}{{selection.sport.sport_id}}{{/if}}>
                                {{#if selection.sport}}{{selection.sport.sport_name}} {{selection.sport.sport_league}}{{else}}NONE{{/if}}
                            </option>
                            {{#each sport}}
                                <option value={{sport_id}}>
                                    {{sport_name}} {{sport_league}}
                                </option>
                            {{/each}}
                        </select>
                    </td>
                    <td>
                        <select class="form-select" aria-label="Default select example" id="deal" name="deal">
                            <option selected value={{#if selection.deal}}{{selection.deal.deal_id}}{{/if}}>
                                {{#if selection.deal}}{{selection.deal.deal_type}}{{else}}NONE{{/if}}
                            </option>
                            {{#each deal}}
                                <option value={{deal_id}}>{{deal_type}}</option>
                            {{/each}}
                        </select>
                    </td>
                    <td>
                        {{#if selection.deal}}{{selection.deal.deal_type}}{{else}}NONE{{/if}}
                    </td>
                    <td>
                        <button type="submit" id="submit-button">Get Bets</button>
                    </td>
                </tr>
            </table>
        <div>
            
        </div>
    </form>
    </div>
    {{#if selection.sport}}
    <div class="eligible-bets">
        <h2>Current Eligible Bets</h2>
        <table class="table">
            {{#each event}}
                <tr>
                    <th></th>
                    <th>{{home_team}}</th>
                    <th>{{away_team}}</th>
                </tr>
                {{#each bookmakers}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{markets.[0].outcomes.[0].price}}</td>
                    <td>{{markets.[0].outcomes.[1].price}}</td>
                    <td>
                        <form action="/bets/add" type="submit" method="post">
                            <input type="hidden" class="form-control" id="event_id" name="event_id" value={{../id}}>
                            <input type="hidden" class="form-control" id="sportsbook" name="sportsbook" value={{key}}>
                            <button id="submit-button" type="submit" class="btn btn-secondary">SELECT</button>
                        </form>      
                    </td>
                </tr>
                {{/each}}
            {{/each}}
        </table>
    </div>
    {{/if}}
</div>
