<div class="container col-10 jumbotron d-flex mt-4 mb-4 pt-3 p-0 justify-content-center">
    <div class="p-0 justify-content-center">
        <h1 class="mt-4 text-center">Welcome to SafeBets:</h1>
        <h4 class="mb-5 text-center">Free Bet Conversion Tool</h4>
        <form action="/home/odds" type='submit' method="POST">
            <table class="table text-right mb-5">
                <tr>
                    <th>Sportsbook:</th>
                    <td>
                        <select class="form-select" id="sportsbook" name="sportsbook" required>
                            <option {{#unless selection.sportsbook}}selected{{/unless}} value=''>ALL</option>
                            {{#each sportsbook}}
                                <option {{#when sportsbook_id 'eq' ../selection.sportsbook.sportsbook_id}}selected {{/when}} value={{sportsbook_id}}>{{sportsbook_name}}</option>
                            {{/each}}
                        </select>
                    </td>
                    <th>League:</th>
                    <td>
                        <select class="form-select" id="sport" name="sport" required>
                            {{#unless selection.sport}}<option selected value=''>NONE</option>{{/unless}}
                            {{#each sport}}
                                <option {{#when sport_id 'eq' ../selection.sport.sport_id}}selected{{/when}} value={{sport_id}}>
                                    {{sport_name}} {{sport_league}}
                                </option>
                            {{/each}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <input type="hidden" id="deal" name="deal" value="Free Bet" disabled>
                    <th colspan="2">Free Bet Amount:</th>
                    <td colspan="2">
                        <div class="d-grid gap-2 col-6">
                            <input type="number" id="bet_amount" name="bet_amount" value='{{selection.bet_amount}}' required>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="space text-center">
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-primary" type="submit" id="submit-button">Get Bets</button>
                        </div>
                    </td>
                </tr>
            </table>
            
        </form>
    {{#if event}}
    <div class="bets mt-4">
        <table class="table mt-4">
                <tr>
                    <td colspan="8" class="space"></td>
                </tr>
                {{!-- Selected Sportsbook Row --}}
                <tr class="sportsbook">
                    <th class="sportsbook">Selected Sportsbook:</th>
                    {{#each sportsbook}}
                    <th class="sportsbook odds">
                        <form action="/home/odds" type='submit' method="POST">
                            <input type="hidden" id="sportsbook" name="sportsbook" value={{sportsbook_id}}>
                            <input type="hidden" id="sport" name="sport" value='{{../selection.sport.sport_id}}'>
                            <input type="hidden" id="deal" name="deal" value='{{../selection.deal.deal_id}}'>
                            <input type="hidden" id="bet_amount" name="bet_amount" value='{{../selection.bet_amount}}'>
                            <button type="submit" id="submit-button"{{#when ../selection.sportsbook.sportsbook_name 'eq' sportsbook_name}}class="btn btn-secondary"{{else}}class="btn btn-outline-secondary"{{/when}}>{{sportsbook_name}}</button>
                        </form>
                    </th>
                    {{/each}}

                </tr>
                <tr>
                    <td colspan="8" class="space"></td>
                </tr>
                {{!-- Event Rows --}}
            {{#each event}}
                <tr>
                    <th class="odds">{{home_team}}</th>
                    {{#each statics}}
                    <td class="odds">
                        {{#if key}}
                            <button id="odds" type="submit" class='{{home}}'>
                                {{markets.[0].outcomes.[0].price}}
                            </button>
                        {{/if}}
                    </td>
                    {{/each}}
                </tr>
                <tr>
                    <td class="options align-middle">vs.</td>
                    {{#each ../sportsbook}}
                        <td class="options ml-2 mr-2 align-middle">
                        {{#each ../bookmakers}}
                            {{#when title 'eq' ../sportsbook_name}}
                            {{!-- <div class="highlight align-middle"> --}}
                                {{#when valid 'noteq' 0}}
                                    {{#when title 'eq' ../../../selection.sportsbook.sportsbook_name}}
                                        Free Bet <br>
                                        ${{../../../selection.bet_amount}} <br>
                                    {{else}}
                                        <span class="label">Hedge:</span> ${{hedge}} <br>
                                        <form action="/bets/add" type="submit" method="POST">
                                            <input type="hidden" class="form-control" id="event_id" name="event_id" value='{{../../id}}'>
                                            <input type="hidden" class="form-control" id="time" name="time" value='{{../../commence_time}}'>

                                            <input type="hidden" class="form-control" id="team_a" name="team_a" value='{{../../home_team}}'>
                                            <input type="hidden" class="form-control" id="odds_a" name="odds_a" value='{{markets.[0].outcomes.[0].price}}'>

                                            <input type="hidden" class="form-control" id="team_b" name="team_b" value='{{../../away_team}}'>
                                            <input type="hidden" class="form-control" id="odds_b" name="odds_b" value='{{markets.[0].outcomes.[1].price}}'>

                                            <input type="hidden" class="form-control" id="sportsbook" name="sportsbook" value='{{title}}'>

                                            <input type="hidden" class="form-control" id="deal_id" name="deal_id" value='Free Bet'>
                                            <input type="hidden" class="form-contorl" id="bet_amount" name="bet_amount" value='{{../../../selection.bet_amount}}'>

                                            <input type="hidden" class="form-control" id="bet_team" name="bet_team" value='b'>
                                            
                                            <button id="submit" type="submit" class="btn btn-primary select m-1">
                                                Select
                                            </button>
                                        </form>
                                        <span class="label">Winnings:</span> ${{winnings}}
                                    {{/when}}
                                {{else}}
                                    N/A
                                {{/when}}
                            {{/when}}
                            {{!-- </div> --}}
                        {{/each}}
                        
                        </td>
                    {{/each}}
                </tr>
                <tr>
                    <th class="odds">{{away_team}}</th>
                    {{#each statics}}
                    <td class="odds">
                        {{#if key}}
                            <button id="odds" type="submit" class='{{away}}'>
                                {{markets.[0].outcomes.[1].price}}
                            </button>
                        {{/if}}
                    </td>
                    {{/each}}
                </tr>
                <tr class="divider">
                    <td class="divider" colspan="9"></td>
                </tr>
            {{/each}}
        </table>
    </div>
    {{/if}}
</div>
