<div class="container">
    <table>
        <tr>
            <th>FIRST NAME</th>
            <td>{{user.first_name}}</td>
        </tr>
        <tr>
            <th>LAST NAME</th>
            <td>{{user.last_name}}</td>
        </tr>
        <tr>
            <th>USER NAME</th>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <th>EMAIL</th>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <th>REGISTER DATE</th>
            <td>{{user.register_date}}</td>
        </tr>
    </table>
        
</div>

<div class="container jumbotron">
    <h2>Bet History</h2>
    <table class="table history table-striped">
        <tr>
            <th>League</th>
            <th>Game</th>
            <th>Free Bet</th>
            <th>Hedged Bet</th>
            <th>Game Winner</th>
            <th>Calculated Winnings</th>
        </tr>
        <tr>
            <td colspan="6" class="bar"></td>
        </tr>
        {{#each history}}
        <tr>
            <td rowspan="3">{{event.sport_league}}</td>
            <td>{{event.team_n}}</td>
            <td class="odds">
                <button type="submit" class='odds btn btn-success disabled'>
                    +{{deal.deal_line}}
                </button>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="">
            <td>vs</td>
            <td>${{deal.deal_amount}}</td>
            <td>${{hedge.hedge_amount}}</td>
            <td>{{#when event.outcome 'eq' 'f'}}{{event.team_f}}{{/when}}{{#when event.outcome 'eq' 'n'}}{{event.team_n}}{{/when}}</td>
            <td class="odds">
                <button type="submit" class='odds btn btn-outline-success disabled'>
                    +{{winnings}}
                </button>
            </td>
        </tr>
        <tr>
            <td>{{event.team_f}}</td>
            <td></td>
            <td class="odds">
                <button type="submit" class='odds btn btn-danger disabled'>
                    {{hedge.hedge_line}}
                </button>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="6" class="bar"></td>
        </tr>
        {{/each}}
    </table>
</div>