<div class="container">
    <p>
        {{username}}<br>
        {{email}}<br>
        {{register_date}}
    </p>
</div>

<div class="container">
    <h2>Bet History</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Sport</th>
                <th>Game</th>
                <th>Bet Amount</th>
            </tr>
        </thead>
        <tbody> 
            {{!-- Edit loop after data model is created--}}
            {{#each}}
            <tr>
                <td>{{sport}}</td>
                <td>{{team_f}} vs {{team_n}} on {{event_date}}</td>
                <td>{{outome_f}}</td>
                <td>{{bet_amount}}</td>
                <td>{{winnings}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>