<div class="container">
    <table>
        <tr>
            <th>FIRST NAME</th>
            <td>{{user.first_name}}</td>
        </tr>
        <tr>
            <th>LAST NAME</th>
            <td>{{user.last_name}}</td>
        </tr>
        <tr>
            <th>USER NAME</th>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <th>EMAIL</th>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <th>REGISTER DATE</th>
            <td>{{user.register_date}}</td>
        </tr>
    </table>
        
</div>

<div class="container">
    <h2>Bet History</h2>
    <table class="table">
        <tr>
            <th>League</th>
            <th>Sportsbook</th>
            <th>Game</th>
            <th>Winner</th>
            <th>Bet Amount</th>
            <th>Earnings</th>
        </tr>
        {{#each history}}
        <tr>
            <td>{{sport_league}}</td>
            <td>{{sportsbook_name}}</td>
            <td>{{team_f}} vs {{team_n}} on {{event_date}}</td>
            <td>{{#when outome 'eq' 'f'}}{{team_f}}{{/when}}{{#when outcome 'eq' 'n'}}{{team_n}}{{/when}}{{#when outcome 'eq' '0'}}N/A{{/when}}</td>
            <td>{{bet_amount}}</td>
            <td>{{winnings}}</td>
        </tr>
        {{/each}}
    </table>
</div>